<h1>Current postings for <%=@category.name%></h1>

<ul>
  <% @articles.each do |article| %>
    <li><a href="/articles/<%=article.id%>"</a><%=article.title%></li>
  <% end %>
</ul>

<%= link_to "Create New Post", new_article_path(category_id: @category.id) %>
